<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>
	<main>
		<div class="card mt-2">
			<div class="card-header">
				<h5 class="card-title">Llista sortides curriculars</h5>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<a href="/sortidescurriculars/create" class="btn btn-primary">Nova</a>
					<br>
					<br>
					<thead>
						<tr>
							<th class="align-middle text-center" scope="col">Data sortida</th>
							<th class="align-middle text-center" scope="col">E-mail</th>
							<th class="align-middle text-center" scope="col">Lloc</th>
							<th class="align-middle text-center" scope="col">Ruta</th>
							<th class="align-middle text-center" scope="col">Objectius</th>
							<th class="align-middle text-center" scope="col">Grups</th>
							<th class="align-middle text-center" scope="col">Professors</th>
							<th class="align-middle text-center" scope="col">Hora inici</th>
							<th class="align-middle text-center" scope="col">Hora arribada</th>
							<th class="align-middle text-center" scope="col">Estat</th>
							<th class="align-middle text-center" scope="col" colspan="2">Operacions</th>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach( function(sortidacurricular) { %>
							<tr>
								<td class="align-middle text-center">
									<%= moment(sortidacurricular.data_sortida).format('DD/MM/YYYY') %>
								</td>
								<td class="align-middle text-center">
									<%= sortidacurricular.email %>
								</td>
								<td class="align-middle text-center">
									<%= sortidacurricular.lloc %>
								</td>
								<td class="align-middle text-center">
									<%= sortidacurricular.ruta %>
								</td>
								<td class="align-middle text-center">
									<%= sortidacurricular.objectius %>
								</td>
								<td class="align-middle text-center">
									<%= sortidacurricular.grups %>
								</td>
								<td class="align-middle text-center">
									<%= sortidacurricular.professor %>
								</td>
								<td class="align-middle text-center">
									<%= sortidacurricular.hora_inici %>
								</td>
								<td class="align-middle text-center">
									<%= sortidacurricular.hora_arribada %>
								</td>
								<td class="align-middle text-center">
									<%= sortidacurricular.estat %>
								</td>
								<td>
									<a class="btn btn-secondary" href="/sortidescurriculars/update/<%=sortidacurricular._id%>" class="card-link">Editar</a>
								</td>
								<td>
									<a class="btn btn-danger" href="/sortidescurriculars/delete/<%=sortidacurricular._id%>" class="card-link">Esborrar</a>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>
