<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<style>
    /*
    borra esto luego macho
    */
    table,
    th,
    tr,
    td {
        border: 1px solid black
    }
</style>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title">Horari</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped">

                    <a href="/horaris/create" class="btn btn-primary">Nou</a>

                    <thead>
                        <tr>
                            <th scope="col">Hora</th>
                            <th scope="col">Dilluns</th>
                            <th scope="col">Dimarts</th>
                            <th scope="col">Dimecres</th>
                            <th scope="col">Dijous</th>
                            <th scope="col">Divendres</th>
                            <th scope="col">Operacions</th>
                            <!--
                            <th scope="col">Dia</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Materia</th>
                            <th scope="col">Aula</th>
                            <th scope="col">Grup</th>
                            <th scope="col">Professor</th>
                            <th scope="col" colspan="2">Operacions</th>
                            -->
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Prova 
                        <% list.forEach(function(horari) { %>
                            <tr>
                                <td>
                                    <%= horari.horainici %>
                                </td>
                                <td>
                                    <%= horari.horafi %>
                                </td>
                                <td>
                                    <%= horari.nomassignatura %>
                                </td>
                                <td>
                                    <%= horari.aula %>
                                </td>
                                <td>
                                    <%= horari.codiprofessor %>
                                </td>
                                <td>
                                    <a class="btn btn-secondary" class="card-link" href="/horaris/update/<%=horari._id%>">Editar</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" class="card-link" href="/horaris/delete/<%=horari._id%>">Esborrar</a>
                                </td>
                            </tr>
                            <% }); %>
                            -->

                        <!-- Diurn -->
                        <!--
                        <tr>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <td>9:00 - 10:00</td>
                        </tr>
                        <tr>
                            <td>10:00 - 11:00</td>                     
                        </tr>
                        <tr>
                            <td>11:00 - 11:30</td>
                            <td colspan="5">Esbarjo</td>
                        </tr>
                        <tr>
                            <td>11:30 - 12:30</td>
                        </tr>
                        <tr>
                            <td>12:30 - 13:30</td>
                        </tr>
                        <tr>
                            <td>13:30 - 14:30</td>
                        </tr>

                        <tr>
                            <td>15:00 - 16:00</td>
                        </tr>
                        <tr>
                            <td>16:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:00</td>
                        </tr>
                        <tr>
                            <td>18:00 - 18:30</td>
                            <td colspan="5">Esbarjo</td>
                        </tr>
                        <tr>
                            <td>18:30 - 19:30</td>
                        </tr>
                        <tr>
                            <td>19:30 - 20:30</td>
                        </tr>
                        <tr>
                            <td>20:30 - 20:30</td>
                        </tr>
                        <tr>
                            <td>20:30 - 21:30</td>
                        </tr>
                        -->
                    </tbody>
                    <table>
                        <thead>
                            <tr>
                                <th>Dia</th>
                                <th>Hora</th>
                                <th>Materia</th>
                                <th>Aula</th>
                                <th>Grup</th>
                                <th>Professor</th>
                            </tr>
                        </thead>
                        <% list.forEach(function(horari) { %>
                            <tr>
                                <td>
                                    <%= horari.dia %>
                                </td>
                                <td>
                                    <%= horari.hora %>
                                </td>
                                <td>
                                    <%= horari.materia %>
                                </td>
                                <td>
                                    <%= horari.aula %>
                                </td>
                                <td>
                                    <%= horari.grup %>
                                </td>
                                <td>
                                    <%= horari.professor %>
                                </td>
                                <td>
                                    <a class="btn btn-secondary" href="/horaris/update/<%=horari._id%>"
                                        class="card-link">Edit</a>
                                </td>
                            </tr>
                            <% }); %>
                    </table>
                </table>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>