<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="card mt-2">
            <div class="card-header">
                <h5 class="card-title">Editar Horari</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="/horaris/update/<%= horari._id %>">
                    <div class="form-group">
                        <label for="dia" class="form-label">Dia</label>
                        <select class="form-select" id="dia" name="dia">
                            <option value="1">Dilluns</option>
                            <option value="2">Dimarts</option>
                            <option value="3">Dimecres</option>
                            <option value="4">Dijous</option>
                            <option value="5">Divendres</option>
                        </select>
                        <br>
                        <label class="form-label">Hora</label>
                        <select class="form-select" id="hora" name="hora">
                            <optgroup label="Diurn">
                                <option value="1">08:00 - 09:00</option>
                                <option value="2">09:00 - 10:00</option>
                                <option value="3">10:00 - 11:00</option>
                                <option value="5">11:30 - 12:30</option>
                                <option value="6">12:30 - 13:30</option>
                                <option value="7">13:30 - 14:30</option>
                            </optgroup>
                            <optgroup label="Nocturn">
                                <option value="8">15:00 - 16:00</option>
                                <option value="9">16:00 - 17:00</option>
                                <option value="10">17:00 - 18:00</option>
                                <option value="12">18:30 - 19:30</option>
                                <option value="13">19:30 - 20:30</option>
                                <option value="14">20:30 - 21:30</option>
                            </optgroup>
                        </select>
                        <br>
                        <input type="text" name="materia" class="form-control" value="<%= horari.materia %>">
                        <label for="name">Aula</label>
                        <input type="text" name="aula" class="form-control" value="<%= horari.aula %>">
                        <label for="name">Grup</label>
                        <input type="text" name="grup" class="form-control" value="<%= horari.grup %>">
                        <label for="name">Professor</label>
                        <input type="text" name="professor" class="form-control" value="<%= horari.professor %>">
                    </div>
                    <button class="btn btn-primary" type="submit">Desar</button>
                    <a class="btn btn-danger" href="/horaris/delete/<%= horari._id %>" role="button">Esborrar</a>
                </form>
                <% if (typeof error !=="undefined" ) { %>
                    <div class="alert alert-primary mt-2" role="alert">
                        <p><%= error %></p>
                    </div>
                    <% } %>
                        <% if (typeof message !=="undefined" ) { %>
                            <div class="alert alert-primary mt-2" role="alert">
                                <p><%= message %></p>
                            </div>
                            <% } %>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>