<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title">Edit Genre</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="/horaris/update/<%= horari._id %>">
                    <div class="form-group">
                        <label for="name">Dia</label>
                        <input type="text" name="dia" class="form-control" value="<%= horari.dia %>">
                        <label for="name">Hora</label>
                        <input type="text" name="hora" class="form-control" value="<%= horari.hora %>">
                        <label for="name">Materia</label>
                        <input type="text" name="materia" class="form-control" value="<%= horari.materia %>">
                        <label for="name">Aula</label>
                        <input type="text" name="aula" class="form-control" value="<%= horari.aula %>">
                        <label for="name">Grup</label>
                        <input type="text" name="grup" class="form-control" value="<%= horari.grup %>">
                        <label for="name">Professor</label>
                        <input type="text" name="professor" class="form-control" value="<%= horari.professor %>">
                    </div>
                    <button class="btn btn-primary" type="submit">Desar</button>
                    <a class="btn btn-danger" href="/horaris/delete/<%= horari._id %>" role="button">Esborrar</a>
                </form>
                <% if (typeof error !=="undefined" ) { %>
                    <div class="alert alert-primary mt-2" role="alert">
                        <p>
                            <%= error %>
                        </p>
                    </div>
                    <% } %>
                        <% if (typeof message !=="undefined" ) { %>
                            <div class="alert alert-primary mt-2" role="alert">
                                <p>
                                    <%= message %>
                                </p>
                            </div>
                            <% } %>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>