<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>
		<main>
			<div class="card mt-2">
				<div class="card-header">
					<h5 class="card-title">Llista absències no previstes</h5>
				</div>
				<div class="card-body">
					<a href="/absnoprevistes/create" class="btn btn-primary">Nova</a>
					<a href="/absnoprevistes/decresp" class="btn btn-primary">Declaració responsable</a>
					<table class="table table-striped">
						<br>
						<br>
						<thead>
							<tr>
								<th class="align-middle text-center" scope="col">Data absència no prevista</th>
								<th class="align-middle text-center" scope="col">Hora inici absència</th>
								<th class="align-middle text-center" scope="col">Hora final absència</th>
								<th class="align-middle text-center" scope="col">Document justificatiu</th>
								<th class="align-middle text-center" scope="col" colspan="2">Operacions</th>
							</tr>
						</thead>
						<tbody>
							<% list.forEach( function(absnoprevista) { %>
							<tr>
								<td class="align-middle text-center">
									<%=
									moment(absnoprevista.data_absnoprevista).locale('es').format('L');%>
								</td>
								<td class="align-middle text-center">
									<%= absnoprevista.hora_inici_absnoprevista %>
								</td>
								<td class="align-middle text-center">
									<%= absnoprevista.hora_final_absnoprevista %>
								</td>
								<td class="align-middle text-center"><%= absnoprevista.motiu_abs %></td>
								<td class="align-middle text-center"><%= absnoprevista.document_justificatiu %></td>
								<td>
									<a class="btn btn-secondary" href="/absnoprevistes/update/<%=absnoprevista._id%>" class="card-link">Editar</a>
								</td>
								<td>
									<a class="btn btn-danger" href="/absnoprevistes/delete/<%=absnoprevista._id%>" class="card-link">Esborrar</a>
								</td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
