<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">
	<header>
		<%- include('../partials/header'); %>
	</header>
	<main>
		<div class="card mt-2">
			<div class="card-header">
				<h5 class="card-title">Llista absències no previstes</h5>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>						
							<th scope="col">Data absencia no prevista</th>
							<th scope="col">Horari professor</th>
							<th scope="col">Hores ausencia</th>
							<th scope="col">Motiu absencia</th>
							<th scope="col">Document justificatiu</th>
							<th scope="col">Operacions</th>

								<a href="/absnoprevistes/create" class="btn btn-primary">Nou</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach( function(absnoprevista) { %>
							<tr>
								<td>
									<%= absnoprevista.id %>
								</td>
								<td>
									<%= absnoprevista.data_absnoprevista %>
								</td>
								<td>
									<%= absnoprevista.horari_profe %>
								</td>
								<td>
									<%= absnoprevista.hores_ausencia %>
								</td>
								<td>
									<%= absnoprevista.motiu_abs %>
								</td>
								<td>
									<%= absnoprevista.document_justificatiu %>
								</td>
								<td>
									<a class="btn btn-secondary" href="/absnoprevistes/update/<%=absnoprevista._id%>"
										class="card-link">Edita</a>
								</td>
								<td>
									<a class="btn btn-danger" href="/absnoprevistes/delete/<%=absnoprevista._id%>"
										class="card-link">Esborrar</a>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>