<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>
		<main>
			<script>
				function setDefaultDate() {
				const now = new Date();
				const day = now.getDate().toString().padStart(2, '0');
				const month = (now.getMonth() + 1).toString().padStart(2, '0');
				const year = now.getFullYear().toString();
				const today = `${year}-${month}-${day}`;

	 		document.getElementById('data_actual').value = today;
			}

			window.onload = function() {
  				setDefaultDate();
}

			</script>
			<div class="card mt-4">
				<div class="card-header">
					<h5 class="card-title">Editar absencia no prevista</h5>
				</div>
				<div class="card-body">
					<% const created_at = moment(absnoprevista.created_at); %>
					<% const diffDays = moment().diff(created_at, 'days'); %>
					<form method="POST" action="/absnoprevistes/update/<%= absnoprevista._id %>">
						<div class="form-group">
							<!-- Input para comparar la fecha de la sortida con la fecha actual para que no hayan errores de validacion-->
						<input type="date" name="data_actual" id="data_actual" class="form-control" style="display:none"/>

							<label for="name">La data de l'absència no prevista NO és editable</label><br>
							<input type="date" name="data_absnoprevista" class="form-control" style="display:none" value="<%= absnoprevista.data_absnoprevista instanceof Date ? absnoprevista.data_absnoprevista.toISOString().slice(0, 10) : '' %>"/>

							<label for="name">Hores ausencia</label>
							<input type="number" name="hores_ausencia" class="form-control" value="<%= absnoprevista.hores_ausencia %>"<%= diffDays >= 1? 'readonly' : '' %> required>
							<% if (diffDays >= 1) { %>
							<small class="form-text text-muted">Només es pot editar les hores d'una absència no prevista fins a les 24h des de la seva creació.</small>
							<% } %>

							<label for="name">Motiu absencia</label>
							<textarea name="motiu_abs" class="form-control"><%= absnoprevista.motiu_abs %></textarea>

							<label for="name">Document justificatiu</label>
							<input type="file" name="document_justificatiu" class="form-control" value="<%= absnoprevista.document_justificatiu %>"/>
						</div>
						<button type="submit" class="btn btn-primary">Desar</button>
						<a class="btn btn-danger" href="/absnoprevistes/delete/<%= absnoprevista._id %>" role="button">Esborrar</a>
					</form>
					<% if (typeof error !=="undefined" ) { %>
					<div class="alert alert-primary mt-2" role="alert">
						<p><%= error %></p>
					</div>
					<% } %> <% if (typeof message !=="undefined" ) { %>
					<div class="alert alert-primary mt-2" role="alert">
						<p><%= message %></p>
					</div>
					<% } %>
				</div>
				<% if (typeof errors !== "undefined") { %>
					<div class="alert alert-danger mt-2" role="alert">
						<% errors.forEach(function(error) { %>
							<p><%= error.msg %></p>
						<% }) %>
					</div>
				<% } %>
			</div>
		</main>
		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
