<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">
	<header>
		<%- include('../partials/header'); %>
	</header>
	<main>
		<div class="card mt-2">
			<div class="card-header">
				<h5 class="card-title">Edita Baixa medica</h5>
			</div>
			<div class="card-body">
				<form method="POST" action="/baixesmediques/update/<%= baixamedica._id %>">
					<div class="form-group">
						<label for="data_inicial_baixa">Data inicial baixa</label>
						<input type="date" name="data_inicial_baixa" id="data_inicial_baixa" class="form-control"
							value="<%= baixamedica.data_inicial_baixa.toISOString().slice(0, 10) %>">
						<label for="data_prevista_alta">Data prevista alta</label>
						<input type="date" name="data_prevista_alta" id="data_prevista_alta" class="form-control"
							value="<%= baixamedica.data_prevista_alta.toISOString().slice(0, 10) %>">
						<label for="name">Comentari</label>
						<textarea name="comentari" class="form-control"><%= baixamedica.comentari %></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Guarda
					</button>
					<a class="btn btn-danger" href="/baixesmediques/delete/<%= baixamedica._id %>"
						role="button">Esborra</a>
				</form>
				<% if (typeof error !=="undefined" ) { %>
					<div class="alert alert-primary mt-2" role="alert">
						<p>
							<%= error %>
						</p>
					</div>
					<% } %>
						<% if (typeof message !=="undefined" ) { %>
							<div class="alert alert-primary mt-2" role="alert">
								<p>
									<%= message %>
								</p>
							</div>
							<% } %>
			</div>
		</div>
	</main>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>
