<!--<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>
	<div class="container">
		<header><%- include('../partials/header'); %></header>
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<div class="login-form bg-light mt-4 p-4">
					<form method="POST" action="/auth/register" class="row g-3">
						<h4>Registre</h4>
						<div class="col-12">
							<label for="fullname">Nom complet</label>
							<input type="text" name="fullname" value="<%= user.fullname %>" class="form-control">
						</div>
						<div class="col-12">
							<label for="email">Correu electrònic</label>
							<input type="text" name="email" value="<%= user.email %>" class="form-control">
						</div>
						<div class="col-12">
							<label for="password">Contrasenya</label>
							<input type="password" name="password" class="form-control">
						</div>
						<div class="col-12">
							<label for="confirm_password">Confirmar contrasenya</label>
							<input type="password" name="confirm_password" class="form-control">
						</div>
						<div class="col-12" style="text-align: center;padding-top: 1em;">
							<button type="submit" class="btn btn-dark float-end">Enviar</button>
						</div>
					</form>
					<hr class="mt-4">
					<div class="col-12">
						<p class="text-center mb-0">Ja tens compte? <a href="/auth/login">Accedeix aquí</a></p>
					</div>
				</div>
				<% if (typeof errors !=="undefined" ) { %>
					<div class="alert alert-danger mt-2" role="alert">
						<% errors.forEach(function(error) { %>
							<p>
								<%= error.msg %>
							</p>
							<% }) %>
					</div>
					<% } %>
			</div>
		</div>
	</div>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>-->
