<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
</head>
<body class="container">
	<header>
		<%- include('../partials/header'); %>
	</header>
	<main>
		<div class="card mt-2">
			<div class="card-header">
				<h5 class="card-title">Llista absències previstes</h5>
			</div>
			<div class="card-body">
				<a href="/absprevistes/create" class="btn btn-primary">Nova</a>
				<br>
				<br>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Data prevista</th>
							<th scope="col">Motiu</th>
							<th scope="col" colspan="2">Operacions</th>
						</tr>
					</thead>
					<tbody>
						<% list.forEach( function(absprevista) { %>
							<tr>
								<td>
									<%= absprevista.id %>
								</td>
								<td>
									<%=  moment(absprevista.data_absprevista).format('DD/MM/YYYY')%>
								</td>
								<td>
									<%= absprevista.motiu_abs %>
								</td>
								<td>
									<a class="btn btn-secondary" href="/absprevistes/update/<%=absprevista._id%>" class="card-link">Editar</a>
								</td>
								<td>
									<a class="btn btn-danger" href="/absprevistes/delete/<%=absprevista._id%>" class="card-link">Esborrar</a>
								</td>
							</tr>
							<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>
</html>