<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>
		<main>
			<div class="card mt-2">
				<div class="card-header">
					<h5 class="card-title">Llista absències previstes</h5>
				</div>
				<div class="card-body">
					<a href="/absprevistes/create" class="btn btn-primary">Nova</a>
					<a href="/absprevistes/decresp" class="btn btn-primary">Declaració responsable</a>
					<br />
					<br />
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="align-middle text-center" scope="col">Data prevista</th>
								<th class="align-middle text-center" scope="col">Motiu</th>
								<% if (locals.role.includes('administrador')) { %>
									<th class="align-middle text-center" scope="col">Professor</th>
								<% } %>
								<th class="align-middle text-center" scope="col" colspan="2">Operacions</th>
							</tr>
						</thead>
						<tbody>
							<% list.forEach( function(absprevista) { %>
							<tr>
								<td class="align-middle text-center">
									<%= moment(absprevista.data_absprevista).format('DD/MM/YYYY')
									%>
								</td>
								<td class="align-middle text-center"><%= absprevista.motiu_abs %></td>
								<% if (locals.role.includes('administrador')) { %>
									<td class="align-middle text-center">
										<%= absprevista.user.fullname %>
									</td>
								<% } %>
								<td class="align-middle text-center">
									<a
										class="btn btn-secondary"
										href="/absprevistes/update/<%=absprevista._id%>"
										class="card-link"
										>Editar</a
									>
								</td>
								<td>
									<a
										class="btn btn-danger"
										href="/absprevistes/delete/<%=absprevista._id%>"
										class="card-link"
										>Esborrar</a
									>
								</td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
