<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
		<script>
			function setDefaultDate() {
			const now = new Date();
			const day = now.getDate().toString().padStart(2, '0');
			const month = (now.getMonth() + 1).toString().padStart(2, '0');
			const year = now.getFullYear().toString();
			const today = `${year}-${month}-${day}`;

		 document.getElementById('data_actual').value = today;
		}

		window.onload = function() {
				setDefaultDate();
}

		</script>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>
		<main>
			<div class="card mt-4">
				<div class="card-header">
					<h5 class="card-title">Edita absencia prevista</h5>
				</div>
				<div class="card-body">
					<form
						method="POST"
						action="/absprevistes/update/<%= absenciaprevista._id%>"
					>

					<!-- Input para comparar la fecha de la sortida con la fecha actual para que no hayan errores de validacion-->
					<input type="date" name="data_actual" id="data_actual" class="form-control" style="display:none"/>

						<div class="form-group">
							<label for="name">Data absència</label>
							<input
								type="date"
								name="data_absprevista"
								id="data_absprevista"
								class="form-control"
								value="<%= absenciaprevista.data_absprevista instanceof Date ? absenciaprevista.data_absprevista.toISOString().slice(0, 10) : '' %>">
							<label for="name">Motiu</label>
							<input
								type="text"
								name="motiu_abs"
								class="form-control"
								value="<%= absenciaprevista.motiu_abs %>"
							/>
						</div>
						<button type="submit" class="btn btn-primary">Desar</button>
						<a
							class="btn btn-danger"
							href="/absprevistes/delete/<%= absenciaprevista._id %>"
							role="button"
							>Esborrar</a
						>
					</form>
					<% if (typeof error !=="undefined" ) { %>
						<div class="alert alert-primary mt-2" role="alert">
							<p><%= error %></p>
						</div>
						<% } %> <% if (typeof message !=="undefined" ) { %>
						<div class="alert alert-primary mt-2" role="alert">
							<p><%= message %></p>
						</div>
						<% } %>
					</div>
					<% if (typeof errors !== "undefined") { %>
						<div class="alert alert-danger mt-2" role="alert">
							<% errors.forEach(function(error) { %>
								<p><%= error.msg %></p>
							<% }) %>
						</div>
					<% } %>
				</div>
			</div>
		</main>
		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
